<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	                       http://www.springframework.org/schema/context
	                       http://www.springframework.org/schema/context/spring-context-4.1.xsd
	                       http://www.springframework.org/schema/aop
	                       http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

	<bean id="userDao" class="aop.UserDaoImpl"></bean>
	<bean id="userDao2" class="aop.UserDaoImpl_2"></bean>
	<bean id="deptDao" class="aop.DeptDaoImpl"></bean>
	
	<bean id="advice" class="aop.advice.LogAdvice"></bean>
	
	<!-- 开启aop注解功能:生成自动代理 -->
	<aop:aspectj-autoproxy/>
	
</beans>